{% load static %}
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h4 class="information_text">Category</h4>
                <p class="dummy_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="information_main">
                    <h4 class="information_text">Useful Links</h4>
                    <p class="many_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="information_main">
                    <h4 class="information_text">Contact Us</h4>
                    <p class="call_text"><a href="#">+01 1234567890</a></p>
                    <p class="call_text"><a href="#">+01 9876543210</a></p>
                    <p class="call_text"><a href="#">demo@gmail.com</a></p>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_section">
            <h1 class="copyright_text">
                Copyright 2020 All Right Reserved <a href="https://html.design"> Free Html Templates</a>
        </div>
    </div>
</div>
<!-- footer section end -->