<!--header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="logo" href="index.html"><img src="images/logo.png"></a>
            <div class="search_section">
                <ul>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#"><img src="images/shopping-bag.png"></a></li>
                    <li><a href="#"><img src="images/search-icon.png"></a></li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
                aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="category.html">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clients.html">Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--banner section start -->
    <div class="banner_section layout_padding">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="taital_main">
                                    <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop
                                    </h4>
                                    <p class="banner_text">There are many variations of passages of Lorem Ipsum
                                        available, but the majority have suffered alteration </p>
                                    <div class="book_bt"><a href="#">Shop Now</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><img src="images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text"
                                class="Enter_text" placeholder="Enter keywords" name=""><button
                                class="search_text">Search</button></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="taital_main">
                                    <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop
                                    </h4>
                                    <p class="banner_text">There are many variations of passages of Lorem Ipsum
                                        available, but the majority have suffered alteration </p>
                                    <div class="book_bt"><a href="#">Shop Now</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><img src="images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text"
                                class="Enter_text" placeholder="Enter keywords" name=""><button
                                class="search_text">Search</button></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="taital_main">
                                    <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop
                                    </h4>
                                    <p class="banner_text">There are many variations of passages of Lorem Ipsum
                                        available, but the majority have suffered alteration </p>
                                    <div class="book_bt"><a href="#">Shop Now</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><img src="images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text"
                                class="Enter_text" placeholder="Enter keywords" name=""><button
                                class="search_text">Search</button></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                <i class=""><img src="images/left-icon.png"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class=""><img src="images/right-icon.png"></i>
            </a>
        </div>
    </div>
    <!--banner section end -->
</div>
<!--header section end -->