{% extends 'base.html' %}
{% load static %}


{% block body %}

      <!--category section start -->
      <div class="container">
         <div class="category_section">
            <div class="row">
               <div class="col-lg-2 col-sm-12">
                  <h1 class="category_text">Category</h1>
               </div>
               <div class="col-lg-10 col-sm-12 main">
                  
                  {% for i in category %}
                     <div class="col">
                     <div class="box_main">
                        <a href="/productCategory/{{ i.title }}/">
                           <div class="icon_1"></div>
                           <h4 class="fashion_text active">{{ i.title }}</h4>
                        </a>
                     </div>
                  </div>
                  {% endfor %}
                     
                  
                  
               </div>
            </div>
         </div>
         <div class="category_section_2">
            <div class="row">
               
               {% for i in products %}
               <div class="col-4 mb-3">
                  <a href="#">
                     <div class="feature_box">
                        <h1 class="readable_text">{{ i.title }}</h1>
                        <div><img src="{{ i.image.url }}" class="image_7"></div>
                        <div style="font-size: 24px;">₺{{ i.price }}</div>
                     </div>
                  </a>
               </div>
               {% endfor %}
                  
               
               
            </div>
         </div>
      </div>
      <!-- category section end -->

{% endblock body %}