{% extends 'base.html' %}
{% load static %}


{% block body %}

      <!-- client section start -->
      <div class="client_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="feature_taital">what is says our customer</h1>
                     <p class="feature_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
                     <div class="client_section_2">
                        <div class="image_9"><img src="{% static 'images/img-9.png' %}"></div>
                        <h3 class="nolmal_text">Normal distribution</h3>
                        <p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                        <div class="image_9"><img src="{% static 'images/icon-10.png' %}"></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="feature_taital">FEATURED PRODUCTS</h1>
                     <p class="feature_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
                     <div class="client_section_2">
                        <div class="image_9"><img src="{% static 'images/img-9.png' %}"></div>
                        <h3 class="nolmal_text">Normal distribution</h3>
                        <p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                        <div class="image_9"><img src="{% static 'images/icon-10.png' %}"></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="feature_taital">FEATURED PRODUCTS</h1>
                     <p class="feature_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
                     <div class="client_section_2">
                        <div class="image_9"><img src="{% static 'images/img-9.png' %}"></div>
                        <h3 class="nolmal_text">Normal distribution</h3>
                        <p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                        <div class="image_9"><img src="{% static 'images/icon-10.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class=""><img src="{% static 'images/left-icon.png' %}"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class=""><img src="{% static 'images/right-icon.png' %}"></i>
            </a>
         </div>
      </div>
      <!-- client section end -->
      
{% endblock body %}