
{% extends 'base.html' %}
{% load static %}


{% block body %}

      <!-- product section start -->
      <div class="product_section layout_padding">
         <div class="container">
            <h1 class="feature_taital">FEATURED PRODUCTS</h1>
            <p class="feature_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
            <div class="product_section_2">
               <div class="row">
                  <div class="col-sm-5">
                     <div class="feature_box">
                        <h1 class="readable_text">Readable content of</h1>
                        <div><img src="images/img-7.png" class="image_7"></div>
                     </div>
                     <div class="feature_box_1">
                        <h1 class="readable_text">Readable content of</h1>
                        <div><img src="images/img-7.png" class="image_7"></div>
                     </div>
                  </div>
                  <div class="col-sm-7">
                     <div class="feature_box_2">
                        <h1 class="readable_text">Readable content of</h1>
                        <div><img src="images/img-8.png" class="image_8"></div>
                        <div class="seemore_bt"><a href="#">see More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- product section end -->

{% endblock body %}